html {
  margin: 0;
  height: 99%;
}

body {
  margin: 0;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  background-color: whitesmoke;
}

@font-face {
  font-family: dino;
  src: url(./fonts/dino.ttf);
}

h1 {
  font-family: 'dino', sans-serif;
  font-size: 55px;
  margin: 10px;
  margin-left: 10vw;
}

.main {
  display: flex;
  justify-content: space-around;
  font-family: 'dino', sans-serif;

  form {
    width: 250px;
    display: flex;
    flex-direction: column;
    background-image: url(./images/dino.jpg);
    background-size: 510px 160px;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: -205px;

    h2 {
      font-family: 'dino', sans-serif;
      font-size: 14px;
    }

    input[type="text"],
    input[type="number"] {
      margin-bottom: 10px;
      height: 30px;
      font-family: 'dino', sans-serif;
      outline: none;
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type=number] {
      -moz-appearance: textfield;
    }

    .btnSubmit {
      height: 40px;
      align-self: flex-end;
      font-family: 'dino', sans-serif;
      cursor: pointer;
    }
  }

  .results {
    width: 380px;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;

    h2 {
      flex: 1;
      flex-wrap: wrap;
      flex-basis: calc(100% - 150px);
      font-family: 'dino', sans-serif;
      font-size: 14px;
    }

    .btnRefresh {
      width: 150px;
      height: 40px;
      flex: 0;
      font-family: 'dino', sans-serif;
      cursor: pointer;
    }

    ul {
      max-width: 380px;
      height: 350px;
      border: solid 1px black;
      flex-basis: 100%;
      padding: 0;
      overflow: auto;

      li {
        list-style: none;
        padding: 10px 20px;
        margin: 4px;
        font-size: 12px;
      }
    }
  }
}

p {
  text-align: center;
  font-family: 'dino', sans-serif;
}

p.success {
  color: green;
}

p.error {
  color: red;
}

@media screen and (max-width: 400px) {
  body {
    height: auto;
  }

  h1 {
    margin: 40px 0 20px 0;
    text-align: center;
    font-size: 28px;
  }

  .main {
    flex-wrap: wrap;

    .results {
      flex-basis: 100%;
    }
  }

  form {
    min-height: 280px;

    h2 {
      text-align: center;
    }

    input[type="button"] {
      margin-bottom: 100px;
    }
  }
}
